<?xml version="1.0"?>
<data>
    <config_reseau_initiale>
        <nbr_entrees>2</nbr_entrees>
        <nbr_sorties>1</nbr_sorties>
        <nbr_caches>5</nbr_caches>
        <type_connexion>
            <partielle frac="0.6"/>
        </type_connexion>
        <distribution_poids>
            <gauss sigma="0.6"/>
        </distribution_poids>
    </config_reseau_initiale>
    <fonctions_activation>
        <sigmoid/>
        <tanh/>
    </fonctions_activation>

    <compatibilite_genotypes>
        <seuil_compatibilite>1</seuil_compatibilite>
        <coeff_poids>0.4</coeff_poids>
        <coeff_exces>1</coeff_exces>
        <coeff_disjoints>1</coeff_disjoints>
    </compatibilite_genotypes>
</data>